page-home {
  #card-stack {
    width: 100%;
    height: 58rem;
    margin: 0px auto 0;
    position: relative;
    background-color: #eae7e7;
  }
   
  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;
    height: 90%;
  }

  .likeicon, .dislikeicon{
      font-size: 4em;
  }

  .likeicon{
    color: red;
  }
  .dislikeicon{
    color: gray;
  }
  .card_user_info{
    text-align: left;
    padding-left: 1rem;
  }
  .card_user_name{
    font-size: 2.2rem;  
  }
  .card_user_city{
    font-size: 1.5rem;  
  }

  // iOS
  .button-clear-ios-primary {
      border-color: transparent;
      color: #488aff;
      background-color: transparent;
      height: 8rem;
  }
  
  ///iOS
}