page-home {
  

  #card-stack {
    width: 100%;
    height: 58rem;
    margin: 0px auto 0;
    position: relative;
    // background-color:#dae4f6;
  }

  ion-card.card.card-md{
    background: white;
  }
   
  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;  
    height: 90%;
  }

  .likeicon{
      font-size: 6rem;
  }
  .dislikeicon{
      font-size: 7rem;
  }
  
  .dislikeicon{
    color: gray;
  }
  .card_user_info{
    text-align: left;
    padding-left: 1rem;
  }
  .card_user_name{
    font-size: 2.2rem;  
    text-align: center;
    font-weight: bold;
  }
  .card_user_city{
    font-size: 1.7rem;  
    text-align: center;
  }
  
  button.disable-hover.button.button-md.button-clear.button-clear-md.button-small.button-small-md.button-clear-md-primary {
      height: auto;
      padding: 0.5rem;
  }

  // ion-col.responseIcon.col {
  //   border: 2  px solid #d8d9db;
  // }

  // iOS
  .button-clear-ios-primary {
      border-color: transparent;
      background-color: transparent;
      height: 8rem;
  }
  
  ///iOS

  ion-col.responseIcon.col {
      // z-index: 1000;
      text-align: center;
      // top: 37em;
      bottom:7em;
  }

  ion-icon.dislikeicon.icon.icon-md.ion-md-close-circle {
      background-color: white;
      padding: 5.7px 0px;
      border-radius: 0.6em;
      border: 0.6rem solid #2f72f0;
      /* padding: 0.0em; */
      /* margin: 0px; */
  }

  ion-icon.likeicon.icon.icon-md.ion-md-heart {
      background-color: white;
      padding: 11px 4px 5px 4px;
      border-radius: 0.8em;
      border: 0.6rem solid #2f72f0;
      /* padding: 0.0em; */
      /* margin: 0px; */
  }
}