// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.likeicon,.button-clear-ios-primary,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,.tabs-md .tab-button[aria-selected=true] .tab-button-icon 
{
    color: #2f72f0;
}

ion-app.ios [padding] .scroll-content,ion-app.md [padding] .scroll-content{
    padding: 0px; 
    overflow: hidden;
}

ion-card img {
    display: block;
    width: 100rem;
    height: 40rem;
}

button.disable-hover.button.button-md.button-clear.button-clear-md.button-small.button-small-md.button-clear-md-primary {
    height: 4rem;
}

.button-clear-ios-primary {
    border-color: transparent;
    background-color: transparent;
    height: 5rem;
}

.tabs-ios[tabsPlacement=top] .tabbar {
    border-top: 0;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

ion-icon.tab-button-icon.icon.icon-md{
    font-size: 3rem;
}



// .tabs a:not(:last-of-type) {
//     border-right: 0.5px solid #e6e5e5;
// }

.tabs-md .tab-button {
    min-height: 4.3rem;
}


.scroll-content,#card-stack {
    background-color:#dae4f6;
}